<p id="notice"><%= notice %></p>


<% @courses.each do |course| %>

  <div class="row text-center">
    <p class="course"><%= course[1] %></p>
  </div>

  <div class="container section">
    <div class="col-md-4">
    </div>

    <div class="col-md-8">

      <% @menu[course[0]].each do |dish| %>
        <div class="container">
          <div class="col-md-6">
            <h4><%= dish.name %></h4>
            <p><%= dish.description %></p>
          </div>
          <div class="col-md-2">
            <h4><%= number_to_currency(dish.price) %></h4>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<% end %>
